body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* background-image: radial-gradient(#c7c8c7, #6d6a6c); */
    background-color: #18191a;
    min-width: 100vw;
    min-height: 100vh;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 100%;
    height: auto;
}


ul li{
    list-style-type: none;
}


#nav{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: flex-start;
}

.nav_logo{
    margin: 0 5em;
}


.nav_list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.nav_list a{
    color: white;
}

#main{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main_text{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.main_text h1 {
    font-size: 4em;
    margin: 0;
}

.stars{
    color: gold;
}

.calltoAction{
    width: 200px;
    border: none;
    background-color: rgb(220,28,19, 0.8);
    border-radius: 15px;
    color: whitesmoke;
    padding: 1em 0;
    font-weight: 500;
}

.calltoAction:hover{
    background-color: rgb(220,28,19, 1);
}

.main_image{
    width: 35%;
    height: 80%;
    border-radius: 15px;
    background-image: url('https://images.pexels.com/photos/2048548/pexels-photo-2048548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 8em;
    padding: 0;
}

.footer_socials{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.footer_socials a{
    font-size: 1.5rem;
    color: whitesmoke;
}

/* .fa-facebook-square{
    color: #3b5998;
}

.fa-twitter{
    color: #00ACEE;
}

.fa-instagram{
    background-image: linear-gradient(45deg, #f58529, #feda77, #dd2a7b, #3134af, #515bd4 );
    color: white;
    border-radius: 15px;
} */